.bookmart {
  @include laptop {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  & button:first-of-type {
    @include laptop {
      margin-left: 14%;

      &:hover {
        background-color: #fff;
        color: $soft-blue;
        border: 2px solid;
      }
    }

    background-color: $soft-blue;
    color: #fff;
  }

  & button:last-of-type {
    @include laptop {
      &:hover {
        color: #000;
        background-color: #eee;
        border: 2px solid;
      }
    }

    background-color: #eee;
    color: #666;
  }

  &__title {
    @include laptop {
      width: 70%;
      margin-left: auto;
      margin-right: auto;
      text-align: left;
    }

    color: $very-dark;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 500;
  }

  &__p {
    @include laptop {
      width: 70%;
      margin-left: auto;
      margin-right: auto;
      text-align: left;
    }

    text-align: center;
    color: $grayish;
  }

  &__button {
    cursor: pointer;
    height: 50px;
    border: none;
    outline: none;
    border-radius: 5px;
    margin-left: 20px;
  }
}

.div-1 {
  @include laptop {
    grid-column: 2/-1;
  }
}

.div-2 {
  grid-column: 1/2;
  grid-row: 1/2;
}

.features {
  @include laptop {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }

  & h2 {
    font-size: 2rem;
    color: $very-dark;
    text-align: center;
  }

  & p {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    color: $grayish;
    margin-bottom: 100px;
  }
}

.extension {
  & h2 {
    @include laptop {
      font-size: 2.5rem;
    }

    color: $very-dark;
    text-align: center;
  }

  & p {
    @include laptop {
      width: 40%;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 100px;
    }

    color: $grayish;
    text-align: center;
  }
}

.card {
  @include laptop {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-evenly;
  }

  &__item {
    @include laptop {
      width: 25%;
      margin-bottom: 100px;
      height: 400px;

      &:nth-child(2) {
        margin-top: 30px;
      }

      &:last-child {
        margin-top: 60px;
      }
    }

    width: 80%;
    height: 350px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: #eee;
    margin-bottom: 30px;
    border-radius: 10px;
    box-shadow: 4px 4px 8px $grayish;

    & img {
      margin-top: 10px;
    }

    & h3 {
      color: $very-dark;
    }

    &__button {
      @include laptop {
        margin-top: 10px;

        &:hover {
          color: $soft-blue;
          background-color: #fff;
          border: 1px solid;
        }
      }

      cursor: pointer;
      margin-top: 60px;
      background-color: $soft-blue;
      border: none;
      outline: none;
      padding: 0.5rem;
      color: #fff;
      border-radius: 5px;
      font-size: 1rem;
    }
  }
}

.faq {
  @include laptop {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }

  & h2 {
    color: $very-dark;
    text-align: center;
  }

  &__answer {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    color: $grayish;
    text-align: left;
    font-size: 1rem;
    display: none;
  }

  &__button {
    margin-top: 50px;
    margin-bottom: 100px;
    background-color: $soft-blue;
    border: none;
    outline: none;
    padding: 0.5rem;
    color: #fff;
    border-radius: 5px;
    font-size: 1rem;
    height: 50px;
    width: 100px;
    margin-left: 35%;
  }
}

.question {
  @include laptop {
    &:hover {
      color: $soft-red;
    }
  }

  cursor: pointer;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  line-height: 3rem;
  background-image: url('/images/icon-arrow.svg');
  background-repeat: no-repeat;
  background-position: top right;
  color: $very-dark;
  text-align: left;
  font-size: 1rem;
  border-bottom: 1px solid $grayish;
}

.show-p {
  display: block;
}

.error {
  background-color: rgb(230, 46, 27);
  color: #fff;
  background-image: url('/images/icon-error.svg');
  background-repeat: no-repeat;
  background-position: 280px 12px;
}

.stat {
  background-color: $soft-blue;
  color: #fff;
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;


  & p {
    letter-spacing: 5px;
  }

  &__email {
    @include laptop {
      width: 40%;
      margin-right: 10px;
    }

    position: relative;
    width: 90%;
    height: 45px;
    border: none;
    outline: none;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 1rem;
  }

  &__submit {
    @include laptop {
      width: 20%;
      &:hover{
        cursor: pointer;
        color: $soft-red;
        background-color: #fff;
        border: 1px solid;
      }
    }

    position: relative;
    width: 90%;
    height: 45px;
    background-color: $soft-red;
    border: none;
    outline: none;
    padding: 0.5rem;
    color: #fff;
    border-radius: 5px;
    font-size: 1rem;
  }
}

.form {
  @include laptop {
    display: flex;
    justify-content: center;
  }

  width: 100%;
}

.arrow {
  background-image: url('/images/icon-arrow-up.svg');
}