.tab {
  width: 100%;

  &__options {
    height: 100px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $very-dark;
    font-size: 1.2rem;
    line-height: 2.5rem;

    &__item {
      position: relative;
      text-align: center;
      width: 100%;
      border-top: 1px solid $grayish;
      // &:first-child{
      //   border-bottom: 1px solid $soft-red;
      // }
      &:last-child {
        margin-bottom: 50px;
        border-bottom: 2px solid $grayish;
      }
    }
  }
  .linea{
    border-bottom: 1px solid $soft-red;
  }

  &__content {
    &:last-child {
      margin-bottom: 80px;
    }

    &:nth-child(2),
    &:nth-child(3) {
      display: none;
    }

    width: 90%;
    margin-left: auto;
    margin-right: auto;

    & img {
      max-width: 100%;
    }

    & h2 {
      color: $very-dark;
      text-align: center;
    }

    & p {
      color: $grayish;
      text-align: left;
    }

    & button {
      display: none;
    }
  }
}
.show-tab{
  display: block;
}