.tab {
  width: 100%;

  &__options {
    @include laptop{
      flex-direction: row;
      align-items: flex-start;
    }
    cursor: pointer;
    height: 100px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $very-dark;
    font-size: 1.2rem;
    line-height: 2.5rem;

    &__item {
      @include laptop{
        border-top: none;
        border-bottom: 1px solid $grayish;
        &:hover{
          color: $soft-red;
          border-bottom: 1px solid $soft-red;
        }
      }
      position: relative;
      text-align: center;
      width: 100%;
      border-top: 1px solid $grayish;
      &:last-child {
        @include laptop{
          &:hover{
            border-bottom: 1px solid $soft-red;
          }
        }
      margin-bottom: 50px;
      border-bottom: 1px solid $grayish;
      }
    }
  }
  .linea{
    border-bottom: 1px solid $soft-red;
  }

  &__content {
    @include laptop{
      display: grid;
      grid-template-columns: repeat(2,1fr);
    }
    &:last-child {
      margin-bottom: 80px;
    }

    &:nth-child(2),
    &:nth-child(3) {
      display: none;
    }

    width: 90%;
    margin-left: auto;
    margin-right: auto;

    & img {
      max-width: 100%;
    }

    & h2 {
      color: $very-dark;
      text-align: center;
    }

    & p {
      color: $grayish;
      text-align: left;
    }

    & button {
      @include laptop{
        display: block;
        border: none;
        outline: none;
        height: 60px;
        width: 100px;
        background-color: $soft-blue;
        color: #fff;
        border-radius: 4px;
        cursor: pointer;
      }
      display: none;
    }
  }
}
.show-tab{
  display: block;
}